@model IEnumerable<PoaPlan.Models.Consultas.ComponenteLista>

@{
    ViewData["Title"] = "Index";
}

@using (Html.BeginForm("Index", "Componentes", new { @class = "form-horizontal" }))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            Seleción del año
        </div>
        <div class="panel-body">

            <div class="row form-group">
                <div class="col-md-3">
                    <input type="number" class="form-control" placeholder="Año" id="anio" name="anio" />
                </div>

                <div class="col-md-3">
                    <button type="submit" class="btn btn-block btn-outline btn-success btn-xs">Buscar</button>
                </div>

            </div>

        </div>
    </div>
}

@if (Model != null)
{

    <div class="form-group">
        <form asp-controller="Componentes" asp-action="NuevoComponente" method="get">
            <input type="hidden" id="elAnioC" name="elAnioC" value="@ViewBag.elAnio" />
            <button type="submit" class="btn btn-primary">Nuevo Componente</button>
        </form>        
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover dataTables-example">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Organo</th>
                    <th>Componente</th>
                    <th>Indicador</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.idComponente</td>
                        <td>@item.organo</td>
                        <td>@item.componente</td>
                        <td>@item.indicador</td>
                        <td>
                            <p>@Html.ActionLink("Editar", "EditarComponente", new { elAnioC = @ViewBag.elAnio, idComp = item.idComponente }, htmlAttributes: new { @class = "btn btn-block btn-outline btn-info btn-xs" })</p>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}


@section Scripts
{
    <script>
        $(document).ready(function () {
            $('.dataTables-example').DataTable({
                pageLength: 25,
                responsive: true,

                "order": [[0, "desc"]],

                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]
            });
        });

    </script>
}
